apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-provider
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email-provider
  template:
    metadata:
      labels:
        app: email-provider
      annotations:
        # vault.hashicorp.com/agent-inject: 'true'
        # vault.hashicorp.com/tls-skip-verify: 'true'
        # vault.hashicorp.com/role: 'secret-reader'
        # vault.hashicorp.com/agent-inject-template-email-provider-env: |
        #   {{- with secret "kv/calidum-rotae/default/email-provider-env" -}}
        #     export EMAIL_SMTP_API_KEY="{{ .Data.data.email_smtp_api_key }}"
        #   {{- end }}
    spec:
      containers:
        - name: email-provider
          image: ghcr.io/clubcedille/email-provider:1.0.2
          imagePullPolicy: Always
          command:
            # ['/bin/sh', '-c', 'source /vault/secrets/email-provider-env && /email_provider --port 4000']
            ['/bin/sh', '-c', '/email_provider --port 4000']
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: email-provider-env
          env:
            - name: EMAIL_SMTP_API_KEY
              valueFrom:
                secretKeyRef:
                  name: calidum-rotae-secrets
                  key: EMAIL_SMTP_API_KEY
            - name: EMAIL_FROM_ADDRESS
              value: noreply@cedille.club
            - name: EMAIL_FROM_NAME
              value: cedille
            - name: EMAIL_NAME_TO
              value: cedille
            - name: EMAIL_TO_ADDRESS
              value: cedille@etsmtl.net
            - name: EMAIL_SUBJECT
              value: Submission
          readinessProbe:
            tcpSocket:
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
              ephemeral-storage: 1Gi
            limits:
              cpu: 500m
              memory: 256Mi
              ephemeral-storage: 1Gi
          securityContext:
            runAsUser: 10001
            runAsGroup: 10001
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
            seccompProfile:
              type: RuntimeDefault
