apiVersion: apps/v1
kind: Deployment
metadata:
  name: cedille-service
  annotations:
    kube-score/ignore: container-image-pull-policy,container-image-tag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cedille-service
  template:
    metadata:
      labels:
        app: cedille-service
    spec:
      containers:
        - name: cedille-service
          image: ghcr.io/clubcedille/cedille.etsmtl.ca:latest
          imagePullPolicy: Always
          resources: {}
          ports:
            - containerPort: 80
